{
  "extends": ["react-app", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "plugins": ["prettier"]
}
